@import '../styles/variables.css';

@media (width >=1024px) {
    nav {
        display: flex;
        flex-direction: row !important;
        max-width: 1240px;
        margin: auto;
        justify-content: space-between;
        padding: 5dvh 0 !important;

        .nav-list {
            display: flex;
            flex-direction: row;
            gap: 3dvh;
        }
    }
}

@media (width >=1024px) {
    .content {

        h1,
        p {
            margin: 10dvh 0 !important;
        }
    }
}

@media (width >=1024px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 3dvh;

        .card {
            box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
        }
    }
}

@media (width >=1024px) {
    .tips {
        display: flex;
        text-align: center;

        h2, p {
            margin: 5dvh;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 3dvh;

            .card {
                box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);

                .card-video video {
                    width: 100%;
                    height: 50dvh;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (width >= 1024px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
        max-width: 1240px;
        margin: auto;

        .footer-logo {
            margin: 5dvh 5dvh;
        }

        .footer-icons {
            margin: 5dvh 5dvh;
        }
    }
}

@media (width >= 1024px) {
    .about {
        display: flex;
        flex-direction: row !important;
        padding: 5dvh;

        div {
            flex: 1;
        }

        .about-img {
            margin-right: 5dvh;
        }

        .about-text {
            text-align: center;

            h2 {
                margin: 5dvh;
            }

            p {
                line-height: 2rem;
            }
        }
    }
}

@media (width >=1024px) {
    .new-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 3dvh;

        .card {
            box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
            width: 40dvh;
            height: 30dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .card-img {
                padding-top: 3dvh;
                padding-bottom: 3dvh;
                
                i {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media (width >=1024px) {
    .new-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
        gap: 3dvh;

        .card {
            box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);

            .card-img {

                img {
                    height: 40dvh;
                    object-fit: cover;
                }
            }
        }
    }
}